.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.thumb .thumb-list:after, .carousel .carousel-list:after {
  content: '';
  display: block;
  clear: both;
}

body, div, p, h1, h2, h3, h4, h5, h6, fieldset, textarea, ul, ol, li, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
}

input {
  padding: 0;
  margin: 0;
  border: none;
}

button {
  overflow: visible;
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
}

select {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1rem;
}

em {
  font-style: normal;
}

img {
  vertical-align: top;
  border: 0;
}

textarea {
  vertical-align: top;
  border: 0;
}

body {
  min-height: 2000px;
}

.thumb .thumb-list {
  padding: 16px 0 0 10px;
}

.thumb .thumb-list-item {
  position: relative;
  float: left;
  width: 240px;
  padding: 0 10px 16px 0;
}

.thumb .thumb-link:hover .thumb-img img {
  transform: scale(1.1);
}

.thumb .thumb-img {
  position: relative;
  overflow: hidden;
}

.thumb .thumb-img:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.thumb .thumb-img img {
  width: 100%;
  transition: transform .5s ease;
}

.thumb .thumb-tit {
  display: block;
}

.thumb .thumb-info {
  color: #666;
}

.layer-scroll-block {
  overflow: hidden;
}

.layer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.layer.on {
  display: block;
}

.layer .layer-dim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.layer .layer-window {
  position: relative;
  top: 50%;
  left: 50%;
  width: 640px;
  min-height: 300px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.layer-flow {
  display: none;
  position: absolute;
}

.layer-flow.on {
  display: block;
}

.layer-flow .layer-window {
  width: 640px;
  min-height: 300px;
  background: #fff;
}

.thumb-layer .layer-window {
  border: 1px solid #999;
}

.thumb-layer .layer-hd {
  position: relative;
}

.thumb-layer .layer-close {
  position: relative;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
}

.thumb-layer .layer-close:before, .thumb-layer .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #666;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.thumb-layer .layer-close:before {
  width: 24px;
  height: 1px;
  margin: -1px 0 0 -12px;
}

.thumb-layer .layer-close:after {
  width: 1px;
  height: 24px;
  margin: -12px 0 0 -1px;
}

.carousel .carousel-frame {
  width: 10000px;
  overflow: hidden;
}

.carousel .carousel-list-item {
  float: left;
  position: relative;
  transition: transform .25s ease;
}

.carousel .carousel-list-item:hover .carousel-img {
  transform: scale(1.2);
}

.carousel .carousel-list-item:hover .carousel-img:after {
  transform: translateY(0);
}

.carousel .carousel-list-item:hover .carousel-txt {
  transform: translateY(0);
}

.carousel .carousel-list-item:hover ~ .carousel-list-item {
  transform: translate(64px);
  transition-delay: .3s;
}

.carousel .carousel-list-item .carousel-img {
  transform-origin: left center;
  transition: transform .6s ease;
}

.carousel .carousel-list-item .carousel-img:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(to top, black, transparent);
  transform: translateY(70px);
  transform-origin: center bottom;
  transition: transform .5s ease;
}

.carousel .carousel-list-item .carousel-txt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 324px;
  padding: 0 30px 18px;
  color: #fff;
  transform: translateY(100%);
  transform-origin: center bottom;
  transition: transform .5s ease;
}

.carousel .carousel-list-item .carousel-txt .tit {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel .carousel-list-item .carousel-txt .content {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding-top: 5px;
  color: #eee;
}

/*# sourceMappingURL=ui.css.map */
