.section-tab {
	.tab {
		@extend %clearfix;
		&-list {
			float:left;
			background:#eee;
			border:1px solid #999;
			border-radius:10px 10px 0 0;
			&[aria-selected="true"]{
				background:#aaa;
				.tab-link {
					color:#fff;
				}
			}
		}
		&-link {
			display:inline-block;
			padding:10px 18px;
			font-size:14px;
		}
	}
	.tab-content {
		border:1px solid #999;
		padding:10px 8px;
	}
}
