.wrap {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  perspective: 1500px;
  perspective-origin: top;
  transform: translate(-50%, -50%);
}

.box {
  transform-style: preserve-3d;
  transform-origin: 50% 0;
  animation: ani 10s ease infinite;
}

.box .box-face {
  position: absolute;
  display: flex;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;
  align-items: center;
  justify-content: center;
}

.box .box-face:hover {
  background: rgba(0, 0, 0, 0.8);
}

.box .front {
  transform: translateZ(150px);
}

.box .left {
  transform: rotateY(-90deg) translateZ(150px);
}

.box .right {
  transform: rotateY(90deg) translateZ(150px);
}

.box .top {
  transform: rotateX(90deg) translateZ(150px);
}

.box .bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

.box .back {
  transform: rotateY(180deg) translateZ(150px);
}

@keyframes ani {
  to {
    transform: rotateY(360deg);
  }
}

.sphere {
  transform-style: preserve-3d;
  transform-origin: 150px 150px;
  animation: ani ease 10s infinite;
}

.line-x,
.line-y {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.line-x:nth-child(1) {
  background: rgba(255, 7, 0, 0.05);
  transform: rotateX(10deg);
}

.line-x:nth-child(2) {
  background: rgba(255, 14, 0, 0.05);
  transform: rotateX(20deg);
}

.line-x:nth-child(3) {
  background: rgba(255, 21, 0, 0.05);
  transform: rotateX(30deg);
}

.line-x:nth-child(4) {
  background: rgba(255, 28, 0, 0.05);
  transform: rotateX(40deg);
}

.line-x:nth-child(5) {
  background: rgba(255, 35, 0, 0.05);
  transform: rotateX(50deg);
}

.line-x:nth-child(6) {
  background: rgba(255, 43, 0, 0.05);
  transform: rotateX(60deg);
}

.line-x:nth-child(7) {
  background: rgba(255, 50, 0, 0.05);
  transform: rotateX(70deg);
}

.line-x:nth-child(8) {
  background: rgba(255, 57, 0, 0.05);
  transform: rotateX(80deg);
}

.line-x:nth-child(9) {
  background: rgba(255, 64, 0, 0.05);
  transform: rotateX(90deg);
}

.line-x:nth-child(10) {
  background: rgba(255, 71, 0, 0.05);
  transform: rotateX(100deg);
}

.line-x:nth-child(11) {
  background: rgba(255, 78, 0, 0.05);
  transform: rotateX(110deg);
}

.line-x:nth-child(12) {
  background: rgba(255, 85, 0, 0.05);
  transform: rotateX(120deg);
}

.line-x:nth-child(13) {
  background: rgba(255, 92, 0, 0.05);
  transform: rotateX(130deg);
}

.line-x:nth-child(14) {
  background: rgba(255, 99, 0, 0.05);
  transform: rotateX(140deg);
}

.line-x:nth-child(15) {
  background: rgba(255, 106, 0, 0.05);
  transform: rotateX(150deg);
}

.line-x:nth-child(16) {
  background: rgba(255, 113, 0, 0.05);
  transform: rotateX(160deg);
}

.line-x:nth-child(17) {
  background: rgba(255, 120, 0, 0.05);
  transform: rotateX(170deg);
}

.line-x:nth-child(18) {
  background: rgba(255, 128, 0, 0.05);
  transform: rotateX(180deg);
}

.line-x:nth-child(19) {
  background: rgba(255, 135, 0, 0.05);
  transform: rotateX(190deg);
}

.line-x:nth-child(20) {
  background: rgba(255, 142, 0, 0.05);
  transform: rotateX(200deg);
}

.line-x:nth-child(21) {
  background: rgba(255, 149, 0, 0.05);
  transform: rotateX(210deg);
}

.line-x:nth-child(22) {
  background: rgba(255, 156, 0, 0.05);
  transform: rotateX(220deg);
}

.line-x:nth-child(23) {
  background: rgba(255, 163, 0, 0.05);
  transform: rotateX(230deg);
}

.line-x:nth-child(24) {
  background: rgba(255, 170, 0, 0.05);
  transform: rotateX(240deg);
}

.line-x:nth-child(25) {
  background: rgba(255, 177, 0, 0.05);
  transform: rotateX(250deg);
}

.line-x:nth-child(26) {
  background: rgba(255, 184, 0, 0.05);
  transform: rotateX(260deg);
}

.line-x:nth-child(27) {
  background: rgba(255, 191, 0, 0.05);
  transform: rotateX(270deg);
}

.line-x:nth-child(28) {
  background: rgba(255, 198, 0, 0.05);
  transform: rotateX(280deg);
}

.line-x:nth-child(29) {
  background: rgba(255, 205, 0, 0.05);
  transform: rotateX(290deg);
}

.line-x:nth-child(30) {
  background: rgba(255, 213, 0, 0.05);
  transform: rotateX(300deg);
}

.line-x:nth-child(31) {
  background: rgba(255, 220, 0, 0.05);
  transform: rotateX(310deg);
}

.line-x:nth-child(32) {
  background: rgba(255, 227, 0, 0.05);
  transform: rotateX(320deg);
}

.line-x:nth-child(33) {
  background: rgba(255, 234, 0, 0.05);
  transform: rotateX(330deg);
}

.line-x:nth-child(34) {
  background: rgba(255, 241, 0, 0.05);
  transform: rotateX(340deg);
}

.line-x:nth-child(35) {
  background: rgba(255, 248, 0, 0.05);
  transform: rotateX(350deg);
}

.line-x:nth-child(36) {
  background: rgba(255, 255, 0, 0.05);
  transform: rotateX(360deg);
}

.line-y:nth-child(1) {
  background: rgba(255, 7, 0, 0.05);
  transform: rotateY(10deg);
}

.line-y:nth-child(2) {
  background: rgba(255, 14, 0, 0.05);
  transform: rotateY(20deg);
}

.line-y:nth-child(3) {
  background: rgba(255, 21, 0, 0.05);
  transform: rotateY(30deg);
}

.line-y:nth-child(4) {
  background: rgba(255, 28, 0, 0.05);
  transform: rotateY(40deg);
}

.line-y:nth-child(5) {
  background: rgba(255, 35, 0, 0.05);
  transform: rotateY(50deg);
}

.line-y:nth-child(6) {
  background: rgba(255, 43, 0, 0.05);
  transform: rotateY(60deg);
}

.line-y:nth-child(7) {
  background: rgba(255, 50, 0, 0.05);
  transform: rotateY(70deg);
}

.line-y:nth-child(8) {
  background: rgba(255, 57, 0, 0.05);
  transform: rotateY(80deg);
}

.line-y:nth-child(9) {
  background: rgba(255, 64, 0, 0.05);
  transform: rotateY(90deg);
}

.line-y:nth-child(10) {
  background: rgba(255, 71, 0, 0.05);
  transform: rotateY(100deg);
}

.line-y:nth-child(11) {
  background: rgba(255, 78, 0, 0.05);
  transform: rotateY(110deg);
}

.line-y:nth-child(12) {
  background: rgba(255, 85, 0, 0.05);
  transform: rotateY(120deg);
}

.line-y:nth-child(13) {
  background: rgba(255, 92, 0, 0.05);
  transform: rotateY(130deg);
}

.line-y:nth-child(14) {
  background: rgba(255, 99, 0, 0.05);
  transform: rotateY(140deg);
}

.line-y:nth-child(15) {
  background: rgba(255, 106, 0, 0.05);
  transform: rotateY(150deg);
}

.line-y:nth-child(16) {
  background: rgba(255, 113, 0, 0.05);
  transform: rotateY(160deg);
}

.line-y:nth-child(17) {
  background: rgba(255, 120, 0, 0.05);
  transform: rotateY(170deg);
}

.line-y:nth-child(18) {
  background: rgba(255, 128, 0, 0.05);
  transform: rotateY(180deg);
}

.line-y:nth-child(19) {
  background: rgba(255, 135, 0, 0.05);
  transform: rotateY(190deg);
}

.line-y:nth-child(20) {
  background: rgba(255, 142, 0, 0.05);
  transform: rotateY(200deg);
}

.line-y:nth-child(21) {
  background: rgba(255, 149, 0, 0.05);
  transform: rotateY(210deg);
}

.line-y:nth-child(22) {
  background: rgba(255, 156, 0, 0.05);
  transform: rotateY(220deg);
}

.line-y:nth-child(23) {
  background: rgba(255, 163, 0, 0.05);
  transform: rotateY(230deg);
}

.line-y:nth-child(24) {
  background: rgba(255, 170, 0, 0.05);
  transform: rotateY(240deg);
}

.line-y:nth-child(25) {
  background: rgba(255, 177, 0, 0.05);
  transform: rotateY(250deg);
}

.line-y:nth-child(26) {
  background: rgba(255, 184, 0, 0.05);
  transform: rotateY(260deg);
}

.line-y:nth-child(27) {
  background: rgba(255, 191, 0, 0.05);
  transform: rotateY(270deg);
}

.line-y:nth-child(28) {
  background: rgba(255, 198, 0, 0.05);
  transform: rotateY(280deg);
}

.line-y:nth-child(29) {
  background: rgba(255, 205, 0, 0.05);
  transform: rotateY(290deg);
}

.line-y:nth-child(30) {
  background: rgba(255, 213, 0, 0.05);
  transform: rotateY(300deg);
}

.line-y:nth-child(31) {
  background: rgba(255, 220, 0, 0.05);
  transform: rotateY(310deg);
}

.line-y:nth-child(32) {
  background: rgba(255, 227, 0, 0.05);
  transform: rotateY(320deg);
}

.line-y:nth-child(33) {
  background: rgba(255, 234, 0, 0.05);
  transform: rotateY(330deg);
}

.line-y:nth-child(34) {
  background: rgba(255, 241, 0, 0.05);
  transform: rotateY(340deg);
}

.line-y:nth-child(35) {
  background: rgba(255, 248, 0, 0.05);
  transform: rotateY(350deg);
}

.line-y:nth-child(36) {
  background: rgba(255, 255, 0, 0.05);
  transform: rotateY(360deg);
}

@keyframes ani {
  to {
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=3d.css.map */
