.wrap {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-perspective-origin: top;
          perspective-origin: top;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-animation: ani 10s ease infinite;
          animation: ani 10s ease infinite;
}

.box .box-face {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .box-face:hover {
  background: rgba(0, 0, 0, 0.8);
}

.box .front {
  -webkit-transform: translateZ(150px);
          transform: translateZ(150px);
}

.box .left {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
          transform: rotateY(-90deg) translateZ(150px);
}

.box .right {
  -webkit-transform: rotateY(90deg) translateZ(150px);
          transform: rotateY(90deg) translateZ(150px);
}

.box .top {
  -webkit-transform: rotateX(90deg) translateZ(150px);
          transform: rotateX(90deg) translateZ(150px);
}

.box .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(150px);
          transform: rotateX(-90deg) translateZ(150px);
}

.box .back {
  -webkit-transform: rotateY(180deg) translateZ(150px);
          transform: rotateY(180deg) translateZ(150px);
}

@-webkit-keyframes ani {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes ani {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.sphere {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 150px 150px;
          transform-origin: 150px 150px;
  -webkit-animation: ani ease 10s infinite;
          animation: ani ease 10s infinite;
}

.line-x,
.line-y {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.line-x:nth-child(1) {
  background: rgba(255, 7, 0, 0.05);
  -webkit-transform: rotateX(10deg);
          transform: rotateX(10deg);
}

.line-x:nth-child(2) {
  background: rgba(255, 14, 0, 0.05);
  -webkit-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

.line-x:nth-child(3) {
  background: rgba(255, 21, 0, 0.05);
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
}

.line-x:nth-child(4) {
  background: rgba(255, 28, 0, 0.05);
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
}

.line-x:nth-child(5) {
  background: rgba(255, 35, 0, 0.05);
  -webkit-transform: rotateX(50deg);
          transform: rotateX(50deg);
}

.line-x:nth-child(6) {
  background: rgba(255, 43, 0, 0.05);
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}

.line-x:nth-child(7) {
  background: rgba(255, 50, 0, 0.05);
  -webkit-transform: rotateX(70deg);
          transform: rotateX(70deg);
}

.line-x:nth-child(8) {
  background: rgba(255, 57, 0, 0.05);
  -webkit-transform: rotateX(80deg);
          transform: rotateX(80deg);
}

.line-x:nth-child(9) {
  background: rgba(255, 64, 0, 0.05);
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.line-x:nth-child(10) {
  background: rgba(255, 71, 0, 0.05);
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
}

.line-x:nth-child(11) {
  background: rgba(255, 78, 0, 0.05);
  -webkit-transform: rotateX(110deg);
          transform: rotateX(110deg);
}

.line-x:nth-child(12) {
  background: rgba(255, 85, 0, 0.05);
  -webkit-transform: rotateX(120deg);
          transform: rotateX(120deg);
}

.line-x:nth-child(13) {
  background: rgba(255, 92, 0, 0.05);
  -webkit-transform: rotateX(130deg);
          transform: rotateX(130deg);
}

.line-x:nth-child(14) {
  background: rgba(255, 99, 0, 0.05);
  -webkit-transform: rotateX(140deg);
          transform: rotateX(140deg);
}

.line-x:nth-child(15) {
  background: rgba(255, 106, 0, 0.05);
  -webkit-transform: rotateX(150deg);
          transform: rotateX(150deg);
}

.line-x:nth-child(16) {
  background: rgba(255, 113, 0, 0.05);
  -webkit-transform: rotateX(160deg);
          transform: rotateX(160deg);
}

.line-x:nth-child(17) {
  background: rgba(255, 120, 0, 0.05);
  -webkit-transform: rotateX(170deg);
          transform: rotateX(170deg);
}

.line-x:nth-child(18) {
  background: rgba(255, 128, 0, 0.05);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.line-x:nth-child(19) {
  background: rgba(255, 135, 0, 0.05);
  -webkit-transform: rotateX(190deg);
          transform: rotateX(190deg);
}

.line-x:nth-child(20) {
  background: rgba(255, 142, 0, 0.05);
  -webkit-transform: rotateX(200deg);
          transform: rotateX(200deg);
}

.line-x:nth-child(21) {
  background: rgba(255, 149, 0, 0.05);
  -webkit-transform: rotateX(210deg);
          transform: rotateX(210deg);
}

.line-x:nth-child(22) {
  background: rgba(255, 156, 0, 0.05);
  -webkit-transform: rotateX(220deg);
          transform: rotateX(220deg);
}

.line-x:nth-child(23) {
  background: rgba(255, 163, 0, 0.05);
  -webkit-transform: rotateX(230deg);
          transform: rotateX(230deg);
}

.line-x:nth-child(24) {
  background: rgba(255, 170, 0, 0.05);
  -webkit-transform: rotateX(240deg);
          transform: rotateX(240deg);
}

.line-x:nth-child(25) {
  background: rgba(255, 177, 0, 0.05);
  -webkit-transform: rotateX(250deg);
          transform: rotateX(250deg);
}

.line-x:nth-child(26) {
  background: rgba(255, 184, 0, 0.05);
  -webkit-transform: rotateX(260deg);
          transform: rotateX(260deg);
}

.line-x:nth-child(27) {
  background: rgba(255, 191, 0, 0.05);
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
}

.line-x:nth-child(28) {
  background: rgba(255, 198, 0, 0.05);
  -webkit-transform: rotateX(280deg);
          transform: rotateX(280deg);
}

.line-x:nth-child(29) {
  background: rgba(255, 205, 0, 0.05);
  -webkit-transform: rotateX(290deg);
          transform: rotateX(290deg);
}

.line-x:nth-child(30) {
  background: rgba(255, 213, 0, 0.05);
  -webkit-transform: rotateX(300deg);
          transform: rotateX(300deg);
}

.line-x:nth-child(31) {
  background: rgba(255, 220, 0, 0.05);
  -webkit-transform: rotateX(310deg);
          transform: rotateX(310deg);
}

.line-x:nth-child(32) {
  background: rgba(255, 227, 0, 0.05);
  -webkit-transform: rotateX(320deg);
          transform: rotateX(320deg);
}

.line-x:nth-child(33) {
  background: rgba(255, 234, 0, 0.05);
  -webkit-transform: rotateX(330deg);
          transform: rotateX(330deg);
}

.line-x:nth-child(34) {
  background: rgba(255, 241, 0, 0.05);
  -webkit-transform: rotateX(340deg);
          transform: rotateX(340deg);
}

.line-x:nth-child(35) {
  background: rgba(255, 248, 0, 0.05);
  -webkit-transform: rotateX(350deg);
          transform: rotateX(350deg);
}

.line-x:nth-child(36) {
  background: rgba(255, 255, 0, 0.05);
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.line-y:nth-child(1) {
  background: rgba(255, 7, 0, 0.05);
  -webkit-transform: rotateY(10deg);
          transform: rotateY(10deg);
}

.line-y:nth-child(2) {
  background: rgba(255, 14, 0, 0.05);
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}

.line-y:nth-child(3) {
  background: rgba(255, 21, 0, 0.05);
  -webkit-transform: rotateY(30deg);
          transform: rotateY(30deg);
}

.line-y:nth-child(4) {
  background: rgba(255, 28, 0, 0.05);
  -webkit-transform: rotateY(40deg);
          transform: rotateY(40deg);
}

.line-y:nth-child(5) {
  background: rgba(255, 35, 0, 0.05);
  -webkit-transform: rotateY(50deg);
          transform: rotateY(50deg);
}

.line-y:nth-child(6) {
  background: rgba(255, 43, 0, 0.05);
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
}

.line-y:nth-child(7) {
  background: rgba(255, 50, 0, 0.05);
  -webkit-transform: rotateY(70deg);
          transform: rotateY(70deg);
}

.line-y:nth-child(8) {
  background: rgba(255, 57, 0, 0.05);
  -webkit-transform: rotateY(80deg);
          transform: rotateY(80deg);
}

.line-y:nth-child(9) {
  background: rgba(255, 64, 0, 0.05);
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.line-y:nth-child(10) {
  background: rgba(255, 71, 0, 0.05);
  -webkit-transform: rotateY(100deg);
          transform: rotateY(100deg);
}

.line-y:nth-child(11) {
  background: rgba(255, 78, 0, 0.05);
  -webkit-transform: rotateY(110deg);
          transform: rotateY(110deg);
}

.line-y:nth-child(12) {
  background: rgba(255, 85, 0, 0.05);
  -webkit-transform: rotateY(120deg);
          transform: rotateY(120deg);
}

.line-y:nth-child(13) {
  background: rgba(255, 92, 0, 0.05);
  -webkit-transform: rotateY(130deg);
          transform: rotateY(130deg);
}

.line-y:nth-child(14) {
  background: rgba(255, 99, 0, 0.05);
  -webkit-transform: rotateY(140deg);
          transform: rotateY(140deg);
}

.line-y:nth-child(15) {
  background: rgba(255, 106, 0, 0.05);
  -webkit-transform: rotateY(150deg);
          transform: rotateY(150deg);
}

.line-y:nth-child(16) {
  background: rgba(255, 113, 0, 0.05);
  -webkit-transform: rotateY(160deg);
          transform: rotateY(160deg);
}

.line-y:nth-child(17) {
  background: rgba(255, 120, 0, 0.05);
  -webkit-transform: rotateY(170deg);
          transform: rotateY(170deg);
}

.line-y:nth-child(18) {
  background: rgba(255, 128, 0, 0.05);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.line-y:nth-child(19) {
  background: rgba(255, 135, 0, 0.05);
  -webkit-transform: rotateY(190deg);
          transform: rotateY(190deg);
}

.line-y:nth-child(20) {
  background: rgba(255, 142, 0, 0.05);
  -webkit-transform: rotateY(200deg);
          transform: rotateY(200deg);
}

.line-y:nth-child(21) {
  background: rgba(255, 149, 0, 0.05);
  -webkit-transform: rotateY(210deg);
          transform: rotateY(210deg);
}

.line-y:nth-child(22) {
  background: rgba(255, 156, 0, 0.05);
  -webkit-transform: rotateY(220deg);
          transform: rotateY(220deg);
}

.line-y:nth-child(23) {
  background: rgba(255, 163, 0, 0.05);
  -webkit-transform: rotateY(230deg);
          transform: rotateY(230deg);
}

.line-y:nth-child(24) {
  background: rgba(255, 170, 0, 0.05);
  -webkit-transform: rotateY(240deg);
          transform: rotateY(240deg);
}

.line-y:nth-child(25) {
  background: rgba(255, 177, 0, 0.05);
  -webkit-transform: rotateY(250deg);
          transform: rotateY(250deg);
}

.line-y:nth-child(26) {
  background: rgba(255, 184, 0, 0.05);
  -webkit-transform: rotateY(260deg);
          transform: rotateY(260deg);
}

.line-y:nth-child(27) {
  background: rgba(255, 191, 0, 0.05);
  -webkit-transform: rotateY(270deg);
          transform: rotateY(270deg);
}

.line-y:nth-child(28) {
  background: rgba(255, 198, 0, 0.05);
  -webkit-transform: rotateY(280deg);
          transform: rotateY(280deg);
}

.line-y:nth-child(29) {
  background: rgba(255, 205, 0, 0.05);
  -webkit-transform: rotateY(290deg);
          transform: rotateY(290deg);
}

.line-y:nth-child(30) {
  background: rgba(255, 213, 0, 0.05);
  -webkit-transform: rotateY(300deg);
          transform: rotateY(300deg);
}

.line-y:nth-child(31) {
  background: rgba(255, 220, 0, 0.05);
  -webkit-transform: rotateY(310deg);
          transform: rotateY(310deg);
}

.line-y:nth-child(32) {
  background: rgba(255, 227, 0, 0.05);
  -webkit-transform: rotateY(320deg);
          transform: rotateY(320deg);
}

.line-y:nth-child(33) {
  background: rgba(255, 234, 0, 0.05);
  -webkit-transform: rotateY(330deg);
          transform: rotateY(330deg);
}

.line-y:nth-child(34) {
  background: rgba(255, 241, 0, 0.05);
  -webkit-transform: rotateY(340deg);
          transform: rotateY(340deg);
}

.line-y:nth-child(35) {
  background: rgba(255, 248, 0, 0.05);
  -webkit-transform: rotateY(350deg);
          transform: rotateY(350deg);
}

.line-y:nth-child(36) {
  background: rgba(255, 255, 0, 0.05);
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@keyframes ani {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.thumb .thumb-list:after, .carousel .carousel-list:after {
  content: '';
  display: block;
  clear: both;
}

body, div, p, h1, h2, h3, h4, h5, h6, fieldset, textarea, ul, ol, li, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
}

input {
  padding: 0;
  margin: 0;
  border: none;
}

button {
  overflow: visible;
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
}

select {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1rem;
}

em {
  font-style: normal;
}

img {
  vertical-align: top;
  border: 0;
}

textarea {
  vertical-align: top;
  border: 0;
}

body {
  min-height: 2000px;
}

.thumb .thumb-list {
  padding: 16px 0 0 10px;
}

.thumb .thumb-list-item {
  position: relative;
  float: left;
  width: 240px;
  padding: 0 10px 16px 0;
}

.thumb .thumb-link:hover .thumb-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.thumb .thumb-img {
  position: relative;
  overflow: hidden;
}

.thumb .thumb-img:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.thumb .thumb-img img {
  width: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.thumb .thumb-tit {
  display: block;
}

.thumb .thumb-info {
  color: #666;
}

.layer-scroll-block {
  overflow: hidden;
}

.layer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.layer.on {
  display: block;
}

.layer .layer-dim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.layer .layer-window {
  position: relative;
  top: 50%;
  left: 50%;
  width: 640px;
  min-height: 300px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.layer-flow {
  display: none;
  position: absolute;
}

.layer-flow.on {
  display: block;
}

.layer-flow .layer-window {
  width: 640px;
  min-height: 300px;
  background: #fff;
}

.thumb-layer .layer-window {
  border: 1px solid #999;
}

.thumb-layer .layer-hd {
  position: relative;
}

.thumb-layer .layer-close {
  position: relative;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
}

.thumb-layer .layer-close:before, .thumb-layer .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #666;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.thumb-layer .layer-close:before {
  width: 24px;
  height: 1px;
  margin: -1px 0 0 -12px;
}

.thumb-layer .layer-close:after {
  width: 1px;
  height: 24px;
  margin: -12px 0 0 -1px;
}

.carousel .carousel-frame {
  width: 10000px;
  overflow: hidden;
}

.carousel .carousel-list-item {
  float: left;
  position: relative;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.carousel .carousel-list-item:hover .carousel-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel .carousel-list-item:hover .carousel-img:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.carousel .carousel-list-item:hover .carousel-txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.carousel .carousel-list-item:hover ~ .carousel-list-item {
  -webkit-transform: translate(64px);
          transform: translate(64px);
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.carousel .carousel-list-item .carousel-img {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

.carousel .carousel-list-item .carousel-img:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: linear-gradient(to top, black, transparent);
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.carousel .carousel-list-item .carousel-txt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 324px;
  padding: 0 30px 18px;
  color: #fff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.carousel .carousel-list-item .carousel-txt .tit {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel .carousel-list-item .carousel-txt .content {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding-top: 5px;
  color: #eee;
}

/*# sourceMappingURL=3d.css.map */
