.sphere-wrap {
	position:absolute;
	width:300px;
	height:300px;
	left:50%;
	top:50%;
	perspective:1500px;
	perspective-origin:top;
	transform:translate(-50%, -50%);
}
.sphere {
	transform-style: preserve-3d;	//firefox 크로스브라우징
	animation:ani ease 10s infinite;
}
.x-axis,
.y-axis {
	transform-style:preserve-3d;	//firefox 크로스브라우징
	transform-origin:150px 150px;
}
.line-x,
.line-y {
	position:absolute;
	width:300px;
	height:300px;
	border-radius:50%;
	border:1px solid rgba(255,255,255,.2);
}
.line-x {
	@for $i from 1 through 36 {
		&:nth-child(#{$i}) {
			background:rgba(255, 255/36*$i, 0, .05);
			-webkit-transform:rotateX(0deg + $i * 10);
			transform:rotateX(0deg + $i * 10);
		}
	}
}
.line-y {
	@for $i from 1 through 36 {
		&:nth-child(#{$i}) {
			background:rgba(255, 255/36*$i, 0, .05);
			-webkit-transform:rotateY(0deg + $i * 10);
			transform:rotateY(0deg + $i * 10);
		}
	}
}

@keyframes ani {
	to {
		transform:rotateY(360deg);
	}
}
