.carousel {
	.carousel-list {
		@extend %clearfix;
	}
	.carousel-frame {
		width:10000px;
		overflow:hidden;
	}
	.carousel-list-item {
		float:left;
		position:relative;
		transition:transform .25s ease;
		&:hover {
			.carousel-img {
				transform:scale(1.2);
				&:after {
					transform:translateY(0);
				}
			}
			.carousel-txt {
				transform:translateY(0);
			}
			& ~ .carousel-list-item {
				transform:translate(64px)
			}
		}
		.carousel-img {
			transform-origin:left center;
			transition:transform .6s ease;
			&:after {
				content:'';
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				height:100px;
				background:linear-gradient(to top, rgba(0,0,0,1), transparent);
				transform:translateY(70px);
				transform-origin:center bottom;
				transition:transform .5s ease;
			}
		}
		.carousel-txt {
			position:absolute;
			left:0;
			right:0;
			bottom:0;
			width:324px;
			padding:0 30px 18px;
			color:#fff;
			transform:translateY(100%);
			transform-origin:center bottom;
			transition:transform .5s ease;
			.tit {
				@include elip(1);
			}
			.content {
				@include elip(3);
				padding-top:5px;
				color:#eee;
			}
		}
	}
}
