body {
	min-height:2000px;
}
.thumb {
	&-list {
		@extend %clearfix;
		padding:16px 0 0 10px;
	}
	&-list-item {
		position:relative;
		float:left;
		width:240px;
		padding:0 10px 16px 0;
	}
	&-link:hover {
		.thumb-img img {
			transform:scale(1.1);
		}
	}
	&-img {
		position:relative;
		overflow:hidden;
		&:before {
			content:'';
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			border:1px solid rgba(0,0,0,.2);
		}
		img {
			width:100%;
			transition:transform .5s ease;
		}
	}
	&-tit {
		display:block;
	}
	&-info {
		color:#666;
	}
}
